<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
    توضیحات اولیه
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>    
    در اولین گام از پروژه نهایی، قصد داریم با پیش‌پردازش داده و پاسخ به تعدادی سوال ساده، ضمن دید پیداکردن نسبت به داده، آن را برای مراحل بعدی آماده کنیم.
    <br>
    مراحل پیش‌پردازش و سوالات ساده، جدا از همدیگر نیستند. یعنی ابتدا چند مرحله پیش‌پردازش داریم، سپس به تعدادی سوال تحلیلی جواب خواهیم داد و مجددا داده را پیش‌پردازش خواهیم‌کرد.
    
</font>
</p>

   
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کتابخانه‌ها
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
       ابتدا کتاب‌خانه‌های مورد نیاز خود را اضافه کنید.
</font>
</p>

In [367]:
import numpy as np
import pandas as pd


<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    فایل اکسل را بخوانید.
</font>
</p>

In [368]:
df = pd.read_excel("sales.xlsx")

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت اول    
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>    
    ابتدا فاکتورهایی که شناسه مشتری (<code>CustomerId</code>) آن‌ها موجود نیست را از دادگان حذف کنید. دیتافریم جدید را در متغیر <code>df_no_missing_CustomerId</code> ذخیره کنید.
    
</font>
</p>

In [369]:
# remove null customer id values

df_no_missing_CustomerId = df.copy()
df_no_missing_CustomerId = df_no_missing_CustomerId[df_no_missing_CustomerId["CustomerId"].notna()]
df_no_missing_CustomerId

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

   
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت دوم    
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>    
سپس از بین سطر‌هایی که تمامی مقادیر آن‌ها تکراری هستند، فقط یک سطر را نگه دارید. دیتافریم جدید را در متغیر <code>df_no_duplicate</code> ذخیره کنید.
</font>
</p>

In [370]:
# keep only one row per duplicate rows
df_no_duplicate = df_no_missing_CustomerId.copy()
df_no_duplicate = df_no_duplicate.drop_duplicates()

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت سوم    
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>        
همچنین سطرهایی که قیمت آن‌ها صفر یا عددی منفی است را نیز از دادگان حذف کنید. دیتافریم جدید را در متغیر <code>df_no_missing_price</code> ذخیره کنید.
</font>
</p>

In [371]:
# remove prices not bigger than zero
df_no_missing_price = df_no_duplicate.copy()
df_no_missing_price = df_no_missing_price[df_no_missing_price["UnitPrice"] > 0]

In [372]:
df_no_missing_price

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت چهارم
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>      
    محاسبه کنید چند درصد از سفارشات، در داده‌ای که از مرحله قبلی (<code>df_no_missing_price</code>) به دست آوردید، لغو شده‌اند.
    <br>
    چون ممکن است یک سفارش، شامل بیش از یک محصول باشد، شناسه برخی سفارش‌ها چند بار تکرار شده است. برای محاسبه درصد سفارشات لغوشده، باید هر سفارش را تنها یکبار لحاظ کنید.
    <br>
    مقداری که به دست آورده‌اید را رند کرده و آن را در متغیر <code>percentage_cancelled_orders</code> بریزید.
    <br>
    مثلا اگر ۲۹/۸۷ درصد از سفارشات لغو شده بودند، عدد ۳۰ باید در متغیر <code>percentage_cancelled_orders</code> گذاشته شود.
    <br>
    توجه داشته باشید که عدد ۲۹/۸۷ کاملا تصادفی ذکر شده‌است. بنابراین ممکن است عددی که در نهایت شما به‌دست می‌آورید متفاوت از آن باشد.
</font>
</p>

In [373]:
# calculate the percentage of cancelled orderes

new_df = df_no_missing_price["InvoiceNumber"].drop_duplicates()

percentage_cancelled_orders = round(new_df.str.contains("C").count() / new_df.count() * 100)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت پنچم</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>  
        شناسه‌های پنج مشتری که بیشترین تعداد دفعات سفارشات خود را لغو کرده‌اند را در قالب یک لیست (به‌ترتیب نزولی) در متغیر <code>top_cancelling_customers</code> قرار دهید. از دیتافریم <code>df_no_missing_price</code> استفاده کنید. 
        <br>
        دقت کنید در این قسمت،<b> لازم نیست </b> هر سفارش را یکبار لحاظ کنید.
    <br>
    برای اینکه بتوانید شناسه ۵ مشتری با بیشترین سفارشات لغوشده را پیدا کنید، باید ابتدا شناسه آن‌ها را از <code>float</code> به <code>str</code> تبدیل کنید.
    <br>
    تبدیل مستقیم از <code>float</code> به <code>str</code> در این نسخه از پانداس امکان‌پذیر نیست. بنابراین ابتدا <code>float</code> را به عدد صحیح و سپس عدد صحیح را به رشته تبدیل کنید.
</font>
</p>

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10,12605.0,Germany
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50,15329.0,United Kingdom
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95,15329.0,United Kingdom
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75,15329.0,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031.0,United Kingdom

In [378]:
# change customer id to string
df_no_missing_price["CustomerId"] = df_no_missing_price["CustomerId"].astype(int)
df_no_missing_price["CustomerId"] = df_no_missing_price["CustomerId"].astype(str)

In [380]:
new1_df = df_no_missing_price[df_no_missing_price["InvoiceNumber"].str.contains("C") == True]

new1_df = new1_df.groupby(["CustomerId"])["InvoiceNumber"].count().sort_values()[::-1]
new1_df = new1_df.reset_index()

In [381]:
# calculate the top 5 cancelling customers
top_cancelling_customers = list(new1_df["CustomerId"][0:5])
top_cancelling_customers

['15311', '14911', '17511', '14680', '13798']

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت ششم 
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>  
در انتها، سطر‌های مربوط به سفارشات لغو شده را نیز از دیتافریم <code>df_no_missing_price</code> حذف کنید.
<br>
نتیجه را در دیتافریم <code>df_no_canceled_inovice</code> ذخیره کنید.
</font>
</p>

In [476]:
# remove the cancelled orderes
df_no_canceled_inovice = df_no_missing_price.copy()
df_no_canceled_inovice = df_no_canceled_inovice[~df_no_canceled_inovice["InvoiceNumber"].str.contains(("C"), na=False)]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت هفتم 
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>  
    شناسه‌ سفارشات باقی‌مانده (حذف نشده) را با ساختار یک Series در متغیر <code>remaining_invoices</code> قرار بدهید.
    <br>
    توجه کنید که همه مقادیر موجود در متغیر <code>remaining_invoices</code> باید منحصر به فرد باشند. به عبارت بهتر، شناسه تکراری نباید در این متغیر وجود داشته باشد.
</font>
</p>

In [477]:
# save the remaining invoice ids: 

remaining_invoices = df_no_canceled_inovice["InvoiceNumber"].drop_duplicates()

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>  
    در نهایت، با داده پردازش‌شده به گام بعدی پروژه بروید. (تمامی سوالات بعد از این سوال،‌ با استفاده از دادگان پردازش‌شده خواهند بود).

<br>
دیتافریم <code>df_no_canceled_inovice</code> را در فایل <code>preprocessed_sales.csv</code>  ذخیره می‌کنیم.
</font>
</p>

In [478]:
df_no_canceled_inovice.to_csv("preprocessed_sales.csv", index=False)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
سلول جواب‌ساز
</font>
</h2>

In [479]:

import zipfile
import joblib

joblib.dump(percentage_cancelled_orders,"percentage_cancelled_orders")
joblib.dump(top_cancelling_customers,"top_cancelling_customers")
joblib.dump(remaining_invoices,"remaining_invoices")
joblib.dump(df_no_missing_CustomerId.head(1000),"df_no_missing_CustomerId")
joblib.dump(df_no_duplicate.head(1000),"df_no_duplicate")
joblib.dump(df_no_missing_price.head(1000),"df_no_missing_price")
joblib.dump(df_no_canceled_inovice.head(1000),"df_no_canceled_inovice")

def compress(file_names):
    print("File Paths:")
    print(file_names)
    # Select the compression mode ZIP_DEFLATED for compression
    # or zipfile.ZIP_STORED to just store the file
    compression = zipfile.ZIP_DEFLATED
    # create the zip file first parameter path/name, second mode
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            # Add file to the zip file
            # first parameter file to zip, second filename in zip
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["df_no_canceled_inovice","df_no_missing_CustomerId","df_no_duplicate","df_no_missing_price",
              "percentage_cancelled_orders","top_cancelling_customers", "remaining_invoices" ,"1_preprocessing.ipynb"]
compress(file_names)

File Paths:
['df_no_canceled_inovice', 'df_no_missing_CustomerId', 'df_no_duplicate', 'df_no_missing_price', 'percentage_cancelled_orders', 'top_cancelling_customers', 'remaining_invoices', '1_preprocessing.ipynb']